
.header{
    background-color: #365486;
}

h1{
    text-align: center;
    color: #7fc7d9;
}

.info{
    text-align: center;
    color: white;

}

#aboutMe{
    text-align: center;
}





p{
    color: #0f1035
}

h2, h3{
    color: #7fc7d9;
}



